@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-family: 'Noto Sans JP', sans-serif;
  }

  body {
    margin: 0;
    background-color: #3f3f3f;
  }
}

@layer utilities {
  .transform-img {
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }

  .animate-appearing {
    animation: meals-appear 1s ease-out forwards;
  }

  .font-inherit {
    font-size: inherit;
    font-family: inherit;
  }

  .border-bottom {
    border-bottom: 1px solid #ccc;
  }

  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
